@model IEnumerable<aspPay.Models.ViewModels.Pages.PageViewModel>

@{
    ViewBag.Title = "Pages";
}

<h2>Pages</h2>

<p>
    @Html.ActionLink("Add New Page", "AddPage")
</p>

@if (!Model.Any())
{
    <h1 class="text-center">No Pages Yet!</h1>
}
else
{
    <table class="table sorting" id="pages">
        @*adds class=home so not sortable*@
    <tr class="home">
        <th>
            Title
        </th>
        <th>
            Slug
        </th>
        <th>
            SideBar
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr id="id_@item.Id" class="item.Slug">
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Slug)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HasSideBar)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditPage", new { id = item.Id }) |
                @Html.ActionLink("Details", "PageDetails", new { id = item.Id }) |
                @if (item.Slug != "home")
                {
                    @Html.ActionLink("Delete", "DeletePage", new { id = item.Id }, new { @class = "delete" })
                }
            </td>
        </tr>
    }
</table>
}

@*rendersection in layout allows javascript code, used here reading jquery*@
@section Scripts {
<script src="http://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <script>

        $(function () {

        //confirm page deletion
            $("a.delete").click(function () {
                if (!confirm("Confirm page delete")) return false;
            });
        });
        //////////////////////////////////////////////////////

        //confirm page deletion
        //select tbody to have bars selectable
        $("table#pages tbody").sortable({

            //items that we want soratble of all trs that are not home
            items: "tr:not(.home)",

            //placeholder will be area that we drop something, add css to mark it
            placeholder: "ui-state-highlight",
            update: function () {
                var ids = $("table#pages tbody").sortable("serialize");
                var url = "/Admin/Pages/ReorderPages"

                $.post(url, ids, function (data) {

                });
            }

        });
        //////////////////////////////////////////////////////

    </script>
    }